body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
}

.topbar {
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 12px 20px;
    background: lightslategray;
    color: white;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
}

.topbar input {
    border: 2px dotted;
    padding: 5px;
}

.topbar input:hover{
    border: 2px dotted red;
    cursor: pointer;
}

.topbar button {
    padding: 6px 14px;
    border: none;
    background: white;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

.topbar button:hover {
    background: #4f46e5;
    color: white;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 250px;
    background: lightgray;
    border-right: 1px solid #ddd;
}

.sidebar h4 {
    margin: 0;
    padding: 5px 5px 5px 25px;
    background: lightblue;
    border-bottom: 1px solid #ddd;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    flex: 1;
    padding: 20px;
}