body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
}

.topbar {
    display: flex;
    align-items: center;
    gap: 150px;
    padding: 12px 20px;
    background: lightslategray;
    color: white;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
}

.topbar input {
    border: 2px dotted;
    padding: 5px;
}

.topbar input:hover {
    border: 2px dotted red;
    cursor: pointer;
}

.topbar button {
    padding: 6px 14px;
    border: none;
    background: white;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

.topbar button:hover {
    background: #4f46e5;
    color: white;
}

.container {
    display: flex;
    height: calc(100vh - 60px);
}

.sidebar {
    width: 250px;
    background: lightgray;
    border-right: 1px solid #ddd;
    padding: 15px;
    overflow-y: auto;
}

.sidebar h4 {
    margin: 0;
    padding: 5px 5px 5px 25px;
    background: lightblue;
    border-bottom: 1px solid #ddd;
    color: black;
}

.content {
    flex: 1;
    overflow-y: auto;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    font-size: 13px;
    table-layout: fixed;
}

.content th,
.content td {
    border: 1px solid black;
    padding: 6px 8px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}

.content thead {
    background: #f0f0f0;
}

.role-btn {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: none;
    background: transparent;
    text-align: left;
    cursor: pointer;
}

.role-btn:hover {
    background-color: #dcdcdc;
    color: red;
}